# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore

# Dreamweaver files
_notes/

# Dotted Files
#!/.gitignore

# Data Paths
conf/*
data/*
env-*/*

# don't know
/bower_components/
/node_modules/
